{% extends 'base.html' %} {% load static %} {% block header %}
<title>Marco Acea | Projects</title>
<style>
  /* Custom CSS styles */
  .project-card {
    margin-bottom: 20px;
  }

  .project-card:hover {
    background-color: rgba(0, 0, 0, 0.05);
    /* Adjust opacity to your liking */
    transition: background-color 0.3s ease;
    /* Add a smooth transition effect */
    cursor: pointer;
    /* Change cursor to a hand */
  }

  .card-tag-container {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    margin-bottom: 5px;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .card-tag-container::-webkit-scrollbar {
    display: none;
  }

  .card-tag-badge {
    margin-right: 5px;
  }

  .carousel-container img {
    object-fit: cover;
    /* Ensure images fill the container without distortion */
    height: 100%;
    /* Maintain the height of the container */
    width: 100%;
    /* Automatically adjust the width */
  }
</style>
{% endblock header %} {% block content %} {% comment %} TODO: Add a filter by
tag feature {% endcomment %}
<div class="container">
  <h1 style="margin-bottom: 3.5%">Projects</h1>
</div>
{% include 'projects_cards.html' %} 

{% endblock content %} 
{% block extraScripts %}
<script>
  $(".stopPropagation").click((event) => {
    event.stopPropagation();
  });
</script>
{% endblock extraScripts %}
